*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/
/app/src/main/java/com/demo/todolist/
/app/src/main/java/com/demo/todolist/data/
/app/src/main/java/com/demo/todolist/data/app/
/app/src/main/java/com/demo/todolist/data/app/Application.kt
/app/src/main/java/com/demo/todolist/data/app/AppModule.kt
/app/src/main/java/com/demo/todolist/data/db/
/app/src/main/java/com/demo/todolist/data/model/
/app/src/main/java/com/demo/todolist/domain/
/app/src/main/java/com/demo/todolist/presentation/
/app/src/main/java/com/demo/todolist/presentation/base/
/app/src/main/java/com/demo/todolist/presentation/create/
/app/src/main/java/com/demo/todolist/presentation/loading/
/app/src/main/java/com/demo/todolist/presentation/main/
/app/src/main/java/com/demo/todolist/presentation/main/MainFragment.kt
/app/src/main/java/com/demo/todolist/presentation/main/MainViewModel.kt
/app/src/androidTest/java/com/demo/todolist/
/app/src/test/java/com/demo/todolist/
/build.gradle
/app/build.gradle
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/gradle.properties
/settings.gradle
/local.properties
